

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.nav-link {
  color:gray
}

.nav-link:hover {
  color: black
}

.nav.link:active {
  color: red
}

.new-article.input::placeholder {
  color: #aaa;

}

.ql-container .ql-editor {
  font-size: 18px;
  padding: 14px;
  /* padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px; */
  text-justify: inter-word;
  text-align: justify;
  /* line-height: 40px; */
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  font-style: normal;
  
}

.cardDescription .ql-container .ql-editor {
  padding: 0%;
  font-size: 16px;
  cursor: pointer;
  height: 4.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}


#feedtabs::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.shimmer-bg {
  background-color: rgb(216, 216, 216);
}

.shimmer {
  animation: k1 1.2s ease-in-out infinite;
}

.footer{
  background-color: rgb(0, 0, 0);
  margin:0px auto;
  padding: 8px 0px 8px 0px;
}

.subMessages {
  color: #888;
  font-style: italic;
  font-size: 13px;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.selectOptions {
  -webkit-appearance:none;
}



.cursorPointer {
  cursor: pointer;
}


.faCustomIcons .fa {
  color: grey
}

.faCustomIcons .fa:hover {
  color: black
}


.faDeleteIcon .fa {
  color: rgb(241, 86, 86)
}

.faDeleteIcon .fa:hover {
  color: rgb(231, 15, 15)
}

.fa:hover {
 opacity: 1;
}

.fa {
  opacity: 1;
 }
Button {
  opacity: 0.8;
}

Button:hover {
  opacity: 1;
}




@-webkit-keyframes k1 {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes k1 {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes k1 {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

/* p {
  display: inline;
} */



@media (max-width: 480px){
  
  .cardDescription .ql-container .ql-editor {
    padding: 0%;
    font-size: 16px;
    height: 4.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  }

  .faCustomIcons .fa {
    color: black
  }

  .faCustomIcons .fa:hover {
    color: black
  }

  .faDeleteIcon .fa {
    color: rgb(231, 15, 15)
  }

  .faDeleteIcon .fa:hover {
    color: rgb(231, 15, 15)
  }
}